@using NantechCargo.az.Models;
@using NantechCargo.az.ViewModels;
@{
    Layout = "/Views/shared/NavbarBottom.cshtml";
}

@model List<OpOrder>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/css/usercss/ExpargoLogin.css" rel="stylesheet" />
    <link href="~/css/usercss/adminsifaristesdiq.css" rel="stylesheet" />

    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <title>Table</title>
    <style>
        body {
            display: flex;
        }
        nav header {
            right: 0;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row mt-5">
                    <div class="col-lg-12">
                        <h5>List of Jobs</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <form action="/User/Sifarislerim/">
                            <table id="exampl" class="table cell-border " style="width:100%">
                                <thead class="TableHead">
                                    <tr>
                                        <th>Sira</th>
                                        <th>ProdctName</th>
                                        <th>Mehsul Linki</th>
                                        <th>Tarix</th>
                                        <th>Eded</th>
                                        <th>Levels</th>
                                    </tr>
                                </thead>
                                @foreach (var o in Model)
                                {
                                    <tr class="firstRow">
                                        <td>@(@Model.IndexOf(o) + 1)</td>
                                        <td>
                                            @foreach (var productName in o.ProductNames)
                                            {
                                                <div>@productName</div>
                                            }
                                        </td>
                                        <td>

                                        @foreach (var productUrl in o.ProductUrl)
                                        {
                                            <div>@productUrl</div>
                                        }
                                        </td>
                                        <td>@o.OrderDate</td>
                                        <td>@o.ProductCount</td>
                                    <td>
                                        @o.LevelName
                                    </td>
                                  
                                    </tr>
                                }

                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script src="Expargo_Sifarislerim.js"></script>
</body>
</html>
